img{
    width: 100%;
    height: auto;
}
ul{
    list-style-type: none;    
}
ul li{
    padding: 5px;
    border-bottom:solid 1px lightgray ;
    }
.main, .menu_outer, .logo{
    padding: 0 !important;
}
.header_heading{
    position: absolute;
    margin-top: 200px;
    margin-left: 350px;
    color: white;
    font: 35pt bolder;
   
}
.header_content{
    position: absolute;
    margin-top: 270px;
    margin-left: 50px;
    color: white;
    text-align: center;
}
.header input{
    position: absolute;
    margin-top: 350px;
    margin-left: 400px;
    color: white;
    background-color: turquoise;
    height: 50px;
    width: 150px;
}
.menuouter{
    position: fixed;
    height: 100vh;
}
.heading{
    padding: 40px;
}
.heading h2{
    margin: auto;
    color: turquoise;
}
.heading p{
    padding-top: 10px;
    text-align: center;
}
.about{
    border-top: solid 3px orange;
}
.about_us{   
    background-color: orange;
    color: white;
}
.detail_list h3{
    text-align: center;
    color: rgb(185, 142, 62);
}
.detail_list p{
    text-align: center;
    color: lightsteelblue;
}
.management_detail_outer h3{
    color: rgb(185, 142, 62);     
}
.management_detail_outer p{
    color: lightsteelblue;
}
.services_detail{
    border-top: solid 3px blueviolet;
}
.services{
    background-color: blueviolet;
    color: white;
}
.button_items button{
    background-color: blueviolet;
}
